@media (max-width: 1200px){
	html{
		font-size: 56%;
	}
	.home{
		padding: 1rem 4rem;
	}
}
@media (max-width: 991px){
	header{
		left: -120%;
	}
	#menu{
		display: block;
	}
	header.toggle{
		left: 0%;
	}
	body{
		padding: 0;
	}
}
@media (max-width: 768px){
	html{
		font-size: 50%;
	}
}

@media (max-width: 400px){
	header{
		width: 100vw;
	}
	.heading{
		margin: 0 3rem;
	}
	.about .row .counter .box{
		width: 100%;
	}
	.education .box-container .box{
		width: 100%;
	}
	.portfolio .box-container .box{
		width: 100%;
	}

	.contact .row .form{
		margin: 3rem 0;
	}
	.home h1{
		font-size: 2rem;
		color: #fff;
	}
	.home h1 span{
		font-size: 16px;
		font-weight: 700;
		padding: 5px 10px;
	}
}
     